.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

p.error {
  color: var(--color);
  background-color: var(--del-color);
  border-color: var(--del-color);
  border-radius: var(--border-radius);
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
