<section class="container">
  <h3>
    Directive
  </h3>
  <p highlight>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <p highlight="yellow">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <p highlight="green">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <p>
    <label for="input">
      <input [(ngModel)]="color" type="text" id="input"/>
    </label>
  </p>
  <p [highlight]="color">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <h3>
    Pipe
  </h3>
  <p>
    {{ 'Hello World' | reverse }}
  </p>
  <p>
    <label for="reverse">
      <input [(ngModel)]="reverseText" type="text" id="reverse"/>
    </label>
  </p>
  <p>
    {{ reverseText | reverse }}
  </p>
</section>
