<section class="container">
  <h5>Register</h5>
  <form
    novalidate
    *ngIf="formGroup"
    autocomplete="off"
    [formGroup]="formGroup"
    (ngSubmit)="register($event)">
    <div>
      <div class="grid">
        <label for="name">
          Full Name
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Full Name"
            formControlName="name"
            [attr.aria-invalid]="nameField | hasErrors"/>
          <small
            data-testId="name-required"
            *ngIf="nameField | hasErrors">
            *Required
          </small>
        </label>

        <label for="email">
          Email address
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email address"
            formControlName="email"
            [attr.aria-invalid]="emailField | hasErrors"/>
          <ng-container *ngIf="emailField | hasErrors">
            <small
              data-testId="email-required"
              *ngIf="emailField | hasError: 'required'">
              *Required
            </small>
            <small
              data-testId="email-invalid"
              *ngIf="emailField | hasError: 'email'">
              *It's not a valid email
            </small>
          </ng-container>
        </label>
      </div>

      <label for="password">
        Password
        <input
          type="password"
          id="password"
          name="email"
          placeholder="Password"
          formControlName="password"
          [attr.aria-invalid]="passwordField | hasErrors"/>
        <ng-container *ngIf="passwordField | hasErrors">
          <small
            data-testId="password-required"
            *ngIf="passwordField | hasError: 'required'">
            *Required
          </small>
          <small
            data-testId="password-should-contains"
            *ngIf="(passwordField | hasErrors) && !(passwordField | hasError: 'required')">
            * Should contain:
            <ul>
              <li
                data-testId="password-minlength-"
                *ngIf="passwordField | hasError: 'minlength'">
                At least 8 characters
              </li>
              <li
                data-testId="password-uppercase"
                *ngIf="passwordField | hasError: 'atLeastOneUppercase'">
                At least one uppercase
              </li>
              <li
                data-testId="password-lowercase"
                *ngIf="passwordField | hasError: 'atLeastOneLowercase'">
                At least one lowercase
              </li>
              <li
                data-testId="password-number"
                *ngIf="passwordField | hasError: 'atLeastOneNumber'">
                At least one number
              </li>
            </ul>
          </small>
        </ng-container>
      </label>

      <label for="confirmPassword">
        Confirm Password
        <input
          type="password"
          id="confirmPassword"
          name="email"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [attr.aria-invalid]="(confirmPasswordField | hasErrors)"/>
        <ng-container *ngIf="confirmPasswordField | hasErrors">
          <small
            data-testId="confirm-password-required"
            *ngIf="confirmPasswordField | hasError: 'required'">
            *Required
          </small>
          <small
            data-testId="confirm-password-match"
            *ngIf="confirmPasswordField | hasError: 'passwordMatch'">
            *Not matching
          </small>
        </ng-container>
      </label>

      <fieldset>
        <label for="terms">
          <input
            type="checkbox"
            id="terms"
            name="terms"
            formControlName="checkTerms"
            [attr.aria-invalid]="checkTermsField | hasErrors"/>
          I agree to the Terms and Conditions
        </label>
        <small
          data-testId="check-terms-required"
          *ngIf="checkTermsField | hasErrors">
          * Should accept the terms and conditions
        </small>
      </fieldset>
      <button type="submit">Register</button>
    </div>
  </form>
</section>
