<section class="container">
  <article>
    <a (click)="goToBack()">Back</a>
    <div class="detail" *ngIf="product">
      <figure>
        <img
          data-testId="product-image"
          [src]="product.images[0]"
          [alt]="product.title">
      </figure>
      <div>
        <h1 data-testId="product-title">
          {{ product.title }}
        </h1>
        <h2 data-testId="product-price">
          {{ product.price | currency }}
        </h2>
      </div>
    </div>
  </article>
</section>
