<header class="container">
  <h1>
    Angular Testing
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla qui harum ipsam esse odio vero ullam veritatis quos? Reiciendis hic corrupti commodi, numquam repudiandae iste facere pariatur ducimus obcaecati?
  </p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/products">
          Products
        </a>
      </li>
      <li>
        <a routerLink="/pico-preview">
          PicoCSS Preview
        </a>
      </li>
      <li>
        <a routerLink="/people">
          People
        </a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="container">
  <small>
    Testing in <a href="https://angular.io">Angular</a>
  </small>
</footer>
