name: Angular CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Unit tests - Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      # This step uses the output from the `cache-node-modules` step
      - name: Cache node modules
        uses: actions/cache@v2
        id: cache-node-modules
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          # This key is specific to the OS, the Node version and the lock file
          key: ${{ runner.os }}-node-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies (CI)
        # Only run `npm ci` if the cache was not hit
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci
      - name: Run unit tests
        run: npm test -- --configuration=ci
