name: Angular CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Install dependencies (CI)
        run: npm ci
      - name: Run unit tests
        run: npm run test -- --no-watch --code-coverage --no-progress --browsers=ChromeHeadlessCI
