name: Angular CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Unit tests - Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      # This step uses the output from the `cache-node-modules` step
      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            **/node_modules
          # This key is specific to the OS, the Node version and the lock file
          key: ${{ runner.os }}-node-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.cache-name }}-
            ${{ runner.os }}-node-
            ${{ runner.os }}-
      - name: Install dependencies (CI)
        # Only run `npm ci` if the cache was not hit
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
      - name: Run unit tests
        timeout-minutes: 5
        run: npm run test -- --configuration=ci
